
body{margin: 0px;
padding: 0px;
}


h1 a {color: rgb(0, 17, 255);
    text-decoration: none;

}
h1 a:hover{color: aqua;
}


.time:hover {
	-webkit-animation: time 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: time 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/*time animation*/

 @-webkit-keyframes time {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes time {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}




h1{text-align: center;
   }
header { background: none;
margin: 0px;
padding: 1%;
}
.fa-sitemap{
  font-size: 250%;
  color: rgb(32, 31, 32);
}
/*search*/
.dropbtn {
  background-color: rgb(62, 70, 62);
  color: white;
  padding-left: 200%;
  padding-right: 200%;
  padding-top: 10%;
  padding-bottom: 1%;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 500px;
  box-shadow: 5px 20px 30px rgb(15, 15, 15);
  
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10%;
  margin-left: 30%;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 100%;
  margin-right: 100%;
  text-align: center;
  transition: .1s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:  black;
  transition: .1s;
  color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;
transition: .2s;
}

.dropdown:hover .dropbtn {background-color: #e6eee7;
color: black;
border: 2px solid black;
border-radius: 5px;
transition: .1s;
}
/*google*/
  form.searchform {position: relative;
  padding-left:5%;
  padding-top:100% ;
  padding-bottom: 5%;
  }
  .googlep{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #043609;
  font-size: 200%;

  }
  

  /*bing*/
  .searchform2{position: relative;
    padding-left:5%;
    padding-bottom: 5%;
    }
    /*yahoo!*/.searchform2{position: relative;
    padding-left:5%;
    padding-bottom: 5%;
    }
    
    /*icons movies*/
    .btn {
      border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      transition: .2s;
    }
    
    /* Green */
    .success {
      border-color: #4CAF50;
      color: green;
      font-size: 16px;
      margin: 0px;
    }
    
    .success:hover {
      background-color: #4CAF50;
      color: white;
    }
    
    /* Blue */
    .info {
      border-color: #2196F3;
      color: dodgerblue;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .info:hover {
      background: #2196F3;
      color: white;
    }
    
    /* Orange */
    .warning {
      border-color: #ff9800;
      color: orange;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .warning:hover {
      background: #ff9800;
      color: white;
    }
    
    /* Red */
    .danger {
      border-color: #f44336;
      color: red;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .danger:hover {
      background: #f44336;
      color: white;
      
    }
    
    /* Gray */
    .default {
      border-color: #e7e7e7;
      color: black;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .default:hover {
      background: #0a0a0a;
      color: rgb(240, 238, 234);
      border-color: #080808;
    }
    .success{
    position: relative;
    padding-left:50px ;
     padding-right:50px ;
    
    }
    .seo{
      color: #025e88;
      border-color: #0b6ef0;
      padding-left:50px ;
     padding-right:50px ;
    font-size: 280%;
    }
    .seo:hover{
      background: #0b6ef0;
      color: rgb(247, 245, 242);
    }

    /*movcon*/
 .sucdown {
  position: relative;
  display: inline-block;
  
 }

.movcon {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: auto;
  max-height: 400px;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 5px;
    transition: .3s;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.movcon a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.movcon a:hover {background-color: #ddd;
  text-transform: capitalize;
}

.sucdown:hover .movcon {display: block;}

/*mavcon animation*/
.movcon {
	-webkit-animation: movcon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440)backwards;
	        animation: movcon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440)backwards;
}

 @-webkit-keyframes movcon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes movcon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}


    @media only screen and (max-width: 1200px) {
      body {margin: 0%;
        background-color: lightblue;
      
      }
.hello-spider {
     width: 20%;
     height: 20%;
     filter:brightness(-5000%);
    }
	    .pob1{
        left: .1%;
        right: 2%;

      }
	    
      p.Searchnow {
       display: none;
      } 
	    
.top-btn{position: fixed;
 
}
	    
.pop-green{
  display: none;
}

.tibm{
  
  display: none;
}

      .dropdown {  position: relative;
        display: inline-block;
        margin-top: 5%;
        margin-left: 5%;

      }
      .dropbtn {
        background-color: rgb(29, 29, 29);
        color: white;
        padding-left: 100%;
        padding-right: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 10px;
        border: 2px solid black;
        border-radius: 8px;
      
      }
      .fa-search{
        position: relative;
      left: 3%;
        text-align: center;
        color: #f44336;
        
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 260px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 11%;
        margin-right: 11%;
        text-align: center;
      }
      .btn {position: relative;
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        color: black;
        padding: 19px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: .2s;
        right: 50%;
        
      }

 



/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue;
  margin-left: 5%;

}



/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
  padding: 19px 20px;
  margin-left: 5%;

}



/* Red */
.danger {
  border-color: #f44336;
  color:#f44336;
  margin-left: 15%;
  
  
}



/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
  margin-left: 20%;
  margin-top: 5%;
}




      .success{
        margin-right: 0%;
        border-radius: 50%;
        border-color: #4CAF50;
        color: green;
      }
      .default{margin-right: 10%;
font-size: 100%;
border-radius: 50%;
      }
      .info{margin-right: 10%;
font-size: 100%;
border-radius: 50%;
      }
      .warning{margin-right: 10%;
font-size: 100%;
border-radius: 50%;
      }
      .danger{margin-right: 10%;
font-size: 100%;
border-radius: 50%;
      }
      .seo{
        border-radius: 50%;
        color: #20a1dd;
        border-color: #0b6ef0;
      
       padding: 19px 20px;
       
       margin-left: 20%;
  
  font-size: 200%;
      }
    
      .fa-search{
        font-size:300%;
        position: relative;
        right:10% ;
        
      }
     
     
      
      .footer-div{
        display: none;
      }
     
      .vbar-contener {
        display: none;
        position: absolute;
        background-color: #96f5b3;
        min-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(160, 155, 155, 0.2);
        z-index: 1;
        height: auto;
        max-height: 860px;
          overflow-x: hidden;
        right: 1%;
        left: 1%;
      transition: .1s;
      border: 2px solid black;
            border-radius: 5px;
            top: 90%;
        
      
      }
      .movcon-left {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height: auto;
        max-height: 400px;
          overflow-x: hidden;
          border: 2px solid black;
          border-radius: 5px;
          transition: .3s;
          top: 100%;
        
      }
      .movcon {position: relative;
        top: 100%; 
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height: auto;
        max-height: 400px;
          overflow-x: hidden;
          border: 2px solid black;
          border-radius: 5px;
          transition: .3s;
          right: 10%;
      }
    
      
    }


    .gain{
      margin-inline-start: 20%;
      margin-top: 10%;

    }
  
.icsearch{
  font-size: 200%;
}
.fa-search{
  font-size:400%;
  position: relative;
  right:300% ;
  
}
.gogo{font-size: 200%;

}

.gobing{font-size: 200%;

}
.goyahoo{font-size: 200%;

}
.goform02{font-size: 200%;

}
/*info*/
.fa-film{
  font-size: 300%;
}

p.Searchnow {display: none;
	position: absolute;
  top: 290%;
  padding-left: 5%;
  font-size: 400%;
  color: rgb(1, 16, 20);
  text-decoration: underline rgb(73, 73, 73);
}

.fa-bars {
  font-size: 400%;
  color: rgb(15, 92, 102,15);
}
/*vbar*/
.vbar {
  position: relative;
  display: inline-block;

 }


.vbar-contener {
  display: none;
  position: absolute;
  background-image: url(Subtle-Prism.svg);
  
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(160, 155, 155, 0.2);
  z-index: 1;
  height: auto;
  max-height: 640px;
    overflow-x: hidden;
  right: 1%;
  left: 1%;
transition: .1s;
border: 2px solid black;
      border-radius: 5px;
      


}

.vbar-contener a {
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 100%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.vbar-contener a:hover {background-color: #ddd;
  opacity: .2;
 
  color: #022c1f;
}

.vbar:hover .vbar-contener {display: block;}

.vbar-contener {
	-webkit-animation: vbar-contener 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440) backwards;
          animation: vbar-contener 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440) backwards;
          
          
}

 @-webkit-keyframes vbar-contener {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes vbar-contener {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
.btnvbar{
  border: 2px solid transparent;
      border-radius: 5px;
      background-color: transparent;
}
/*animation vbar*/
.btnvbar:hover{
  
    -webkit-animation: btnvbar 0.6s ease-in both;
            animation: btnvbar 0.6s ease-in both;
transition: .3s;
}

 @-webkit-keyframes btnvbar {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
            transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes btnvbar {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
            transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}


.goside{
  margin-left: 50%;
  font-size: 120%;
  color:gray;
}
.goside:hover{
  color: #50775b;
  transition: .3s;
}
.sucdown-left {
  position: relative;
  display: block;
  float: right;
 }

.movcon-left {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: auto;
  max-height: 400px;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 5px;
    transition: .3s;
    right: .1%;
  
}

.movcon-left a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.movcon-left a:hover {background-color: #ddd;
color: rgb(11, 78, 74);
text-decoration: overline;
transition: .1;
}

.sucdown-left:hover .movcon-left {display: block;}
/*animation left*/
.movcon-left {
	-webkit-animation: movcon-left 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: movcon-left 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes movcon-left {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes movcon-left {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

body{
  background:url(Spectrum-Gradient.svg) ;
  background-attachment: fixed;
background-size: cover;
}
.seeo{
  border: 2px solid black;
  border-radius: 10px;
  transition: .2s;
  font-size: 200%;
  color: rgb(71, 69, 69);
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
  cursor: pointer;
}
.seeo:hover{
  border: 2px solid rgb(216, 203, 203);
  border-radius: 50px;
  transition: .2s;
  font-size: 200%;
  background: #02885b;
}
.form-control{
  border-radius: 5px;
  transition: .2s;
  font-size: 200%;
  box-shadow: 5px 10px 5px rgb(0, 0, 0);
  cursor: pointer;
  
}
.footer-div{
  background: #fafafa;
  background-image: url(unp.jpg);
  background-repeat: no-repeat;
  background-size: 100% 120%;
 
  padding-bottom: 20%;
  padding-top: 160px;
  position: relative;
  padding-right: 1250px;
  padding-left: 0px;
  margin-bottom: 10px;
  right: 20.6%;
  border: 2px solid rgb(216, 203, 203);
  border-radius: 5px;
}

.founder-section{
  float: right;
  position: absolute;
  padding-left: 7%;
  padding-right: none;
  padding-top: none;
background:transparent;
top: 20%;
right: .1%;
transition: .2;

}
.rphoto{position: absolute;
  border-radius: 50px;
  top:0%;
right: 30%;
transition: .1;
  cursor: pointer;
  opacity: .5;

  border-width: thin;
  border-color: rgba(0, 0, 0, .10);
  border-style:  solid;
  border-block-end-width: 0px;
  border-inline-end-width: 2px;
  border-block-start-width: 2px;
  border-inline-start-width: 2px;

}
.rphoto:hover{
  border-radius: 10px;
opacity: 1;
transition: .3s;
border-width: thin rgb(136, 101, 60);
border-style:  solid;
border-block-start-color: #4e0303;

border-inline-start-color: rgb(64, 216, 196);
border-inline-start-width: solid;
border-style:  dashed dotted double;
border-block-end-width: 0px;
border-inline-end-width: 2px;
border-block-start-width: 2px;
border-inline-start-width: 2px;
border-inline-start-style: double 1px 50px;
box-shadow: #000000 5px 10px 20px;
}
.our-one{
  position: absolute;
  right: .1%;
  top: 30%;
  border: 2px solid rgb(46, 44, 44);
  border-radius: 10px;
  
}
.our-one:hover{
  background: #129684;
  border: 2px solid rgb(24, 26, 25);
  border-radius: 2px;
}

.hello-spider{position: absolute;
top: 1%;
left: 36.2%;
}
.hello-spider:hover {
  transition: .2s;
	-webkit-animation: hello-spider 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: hello-spider 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes hello-spider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes hello-spider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
.policy{position: absolute;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-color: rgb(100, 96, 96);
  margin: 0%;
  top: .1%;
  left: 40%;
  font-size: 200%;
 
  color: #629b88;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.center-policy2{
  position: absolute;
  top: 30%;
  left: 17%;
  color: #629b88;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.center-policy3{
  position: absolute;
  top: 40%;
  left: 10%;
  color: #629b88;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.center-policy5{
  position: absolute;
  top: 50%;
  left: 40%;
  color: #629b88;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.center-policy6{

  position: absolute;
  top: 60%;
  left: 43%;
  color: #629b88;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.a-know{
  position: absolute;
  top: 70%;
  left: 43%;
  color: #629b88;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.social{
  display:inline-block;
  width: 90px;
  height: 90px;
  background-color: #b4d1d1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #0603cf;
  color: #3498db;
  overflow: hidden;
  position: relative;
  }
  .social i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
  
  }
  .social:hover i{
  transform:scale(1.3);
  color: #f1f1f1;
  
  }
  .social::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
  
  }
  .social:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
  
  }
  
  @keyframes aaa{
  0%{top: -110%;
    left: 90%;
  }
  50%{
    top: -10%;
    left: -10%;
  }
  100%{top: -10%;
    left: -10%;}
  
  }
  icons{position: absolute;
  text-align: center;
left: 30%;  
bottom: 1%;
  }
  .fa-youtube{
    color: #d61313;
  }
  .fa-instagram{
    color:#300706;
  }
  .fa-google2{
    color:rgb(83, 5, 48);
  }
  .fa-cloud{
    font-size: 300%;
  }
 
 

  .switch {
    position: relative;
    
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:hover:before{
    background-color: #ddd9dc;
      }
  input:checked + .slider {
    background-color: rgb(15, 129, 223);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(17, 218, 207);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover{
    background: rgb(15, 92, 102,0.15);
    transition: .1s;
    
  }
  
  .dropbtn10 {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn10:hover, .dropbtn10:focus {
    background-color: #2980B9;
  }
  
  .dropdown10 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content10 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content10 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown10 a:hover {background-color: #ddd;}
  
  .show10 {display: block;}


  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .text-div{
    position: absolute;
top: 50%;
left: 50%;
font-size: 50px;
color: white;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}
.si-ti{
  font-size: 150%;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
padding-left: 10px;
padding-right: 10px;
border-color:rgb(0, 0, 0);
border-bottom-width: thin;
border-bottom-style: solid;

border-left-width: thin;
border-left-style: solid;
background: #025e88;
transition: .1;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
padding-left: 10px;
padding-right: 10px;
border-top-width: thin;
border-top-style: solid;
border-color:rgb(0, 0, 0);
border-bottom-width: unset;
border-bottom-style: unset;
border-left-width: unset;
border-left-style: unset;
border-right-width: thin;
border-right-style: solid;
  background: rgb(255, 0, 0);
  opacity: unset;
  transition: .2;
  box-shadow: 1px 2px rgb(71, 71, 71);
}



.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.pop-green{position: absolute;
  left: 89%;
  top: 20%;
background: #ffffff;
color: #000000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-color: #022c1f;
border-radius: 25%;
border-style: thin;

}
.pop-green:hover{
  background: #022c1f;
  font-size: 100%;
  box-shadow: 4px 5px 5px rgb(71, 71, 71);
  color: rgb(255, 255, 255);
cursor:pointer ;
opacity: .5;
}


.pob1{
  color: #025e88;
}
.pob1:hover{
background:  #025e88;
color: #f0f0f0;
}

.inpu-cours{
  cursor:pointer
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  top: 10%;
}

.active, .accordion:hover {
  background-color: #ccc;
  
}
.panel{
  border: #17726394 solid;
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
 
}

.btn-controller{
top: 1050%;
}
.lang-color{color: rgb(145, 191, 250);
  text-decoration: none;

}
.lang-color:hover{
  text-decoration:underline rgb(155, 175, 99)  ;
opacity: 1;
text-transform: capitalize;
font-size:200%;

}
.mo-cla{
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #6a8c8d;
}
.mo-cla:hover{
   color: #14b4ff;
}

.faq-class{
  color: #129684;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  text-decoration: none;
}
.faq-class:hover{
  text-decoration:underline;
}
.faq-class-p{color: #025e88;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.faq-class-p:hover{
color: #0a7c56;
}



.mySlidesw3 {display: none;}
imgw3 {vertical-align: middle;}

/* Slideshow container */
.slideshow-containerw3 {
  max-width: 200px;
  position: relative;
  margin: auto;
  cursor: pointer;
}

/* Caption text */
.textw3 {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

/* Number text (1/3 etc) */
.numbertextw3 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dotw3 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activew3 {
  background-color: #717171;
}
.ope-i0mg{
filter:brightness(130%);
}

/* Fading animation */
.fadew3 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
